<ex-form #f icon="settings" title="Configuración general" [retur]="retur" [form]="form" [service]="service" [columns]="columns" [renderinputs]="renderinputs" [deleteable]="deleteable" [otro]="otro">
    <div bottom-form class="row">
        <div class="col-lg-12">
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-lg-2 label-on-left" for="id_tarifario">Unidades de producción</label>
                    <div class="col-lg-10">
                        <div class="form-group label-floating is-empty">
                            <ex-multi #multi name="tarifario" placeholder="Seleccione las tarifas" [form]="form" [service]="_t" [render]="nombre" [item]="_form.item"></ex-multi>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ex-form>
