<ex-table #table [title]="title" icon="monetization_on" (selectedItemsChange)="onSelectedItemsChange($event)" [order]="order" [aggregable]="aggregable" [editable]="editable" [deleteable]="deleteable" [service]="service" [multiselect]="multiselect" [columns]="columns">
    <th></th>
    <th>Empleado</th>
    <th>S Producción</th>
    <th>S Legal</th>
    <th>Regargos</th>
    <th>Bonificación</th>
    <th>Descuento</th>
    <th>Neto</th>
    <th>Total</th>
    <button [disabled]="itemList.length == 0" (click)="finiquito()" buttons class="btn btn-primary btn-responsive" type="button">Finiquito via Email</button>
</ex-table>
<!-- <pre>{{itemList | json}}</pre> -->
