<ex-table #table [hidden]="!visibility" [enable]="visibility" [title]="title" [icon]="icon" [service]="service"  [aggregable]="aggregable" [multiselect]="multiselect" [columns]="columns" [redirect]="redirect">
    <th>Tipo de contrato</th>
    <th>Salario base legal</th>
    <th>Subsidio de transporte</th>
    <th>Fecha de inicio</th>
    <th>Fecha finalización</th>
    <th>Descanso entre turnos</th>
    <th>Hora de inicio de descanso</th>
    <th>Duración de descanso en minutos</th>
    <th>Horas de trabajo diarias</th>
    <th>Horas de trabajo semanal</th>
    <th>Horas de trabajo por corte</th>
</ex-table>
