<form class="form-horizontal" novalidate (submit)="save()" [formGroup]="form">
    <div class="row">
        <div class="col-lg-6">
            <ex-card >
                <div header>
                    <i class="material-icons">supervisor_account</i>
                </div>
                <h4 class="card-title">Cuenta</h4>
                <div class="form-horizontal">
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_username">Nombre de Usuario:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty" [ngClass]="{'has-error': !form.get('username').valid }">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="username" autofocus required id="id_username" maxlength="150" />
                                <span class="help-block">Requiere 150 caracteres o menos. Letras, dígitos y @ /. / + / - / _ solamente.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_password1">Contraseña:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="password" formControlName="password1" required id="id_password1" />
                                <span class="help-block">Su contraseña no puede asemejarse tanto a su otra información personal y debe contener por lo menos 8 caracteres.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_password2">Confirmacion de Contraseña:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="password" formControlName="password2" required id="id_password2" />
                                <span class="help-block">Para verificar, ingrese la milga contraseña anterior.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_email">Email:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="email" formControlName="email" id="id_email" maxlength="254" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_imagen">Imagen:</label>
                        <div class="col-lg-10">
                            <img src="" alt="avatar {{form.get('username').value}}">
                            <input type="file"  accept="image/*" (change)="fileChange($event)">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail img-circle">
                                    <img src="../../assets/img/default-avatar.png" alt="imagen">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
                                <div>
                                    <span class="btn btn-primary btn-file">
                                        <span class="fileinput-new">Añadir Foto</span>
                                        <span class="fileinput-exists">Cambiar</span>
                                        <input type="file" formControlName="imagen" />
                                    </span>
                                    <br />
                                    <!-- <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ex-card>
        </div>
        <div class="col-lg-6">
            <ex-card>
                <div header>
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Informacion General</h4>
                <div class="form-horizontal">

                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_first_name">Nombre:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="first_name" id="id_first_name" maxlength="30" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_last_name">Apellido:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="last_name" id="id_last_name" maxlength="30" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_identificacion">Identificación:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="identificacion" required id="id_identificacion" maxlength="120" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_fecha_nacimiento">Fecha de nacimiento:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="fecha_nacimiento" required id="id_fecha_nacimiento" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_direccion">Dirección:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="direccion" required id="id_direccion" maxlength="120" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_telefono">Teléfono:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="telefono" id="id_telefono" maxlength="15" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 label-on-left" for="id_fijo">Fijo:</label>
                        <div class="col-lg-10">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label"></label>
                                <input class="form-control" type="text" formControlName="fijo" id="id_fijo" maxlength="15" />
                            </div>
                        </div>
                    </div>
                </div>
            </ex-card>
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Send message" />
</form>
