<ex-card  icon="language" title="Hola">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio mollitia perspiciatis quod molestiae natus consectetur sequi quam, accusamus itaque, possimus ab, ex optio! Non tempore ab cumque quam, blanditiis hic aspernatur voluptates porro labore
        qui repellendus ratione fugiat deserunt architecto! Quidem quasi facilis consequatur, debitis? Voluptates vel veniam nulla ipsa maxime, facere consequuntur quibusdam sed cupiditate reiciendis. Eius minima tempora perspiciatis dolorum voluptatibus
        repudiandae eligendi sequi animi dolor? Aspernatur explicabo vel ad architecto maiores praesentium sint voluptate eos ratione? Eius nam distinctio iusto. Aliquam nesciunt tempora, reprehenderit voluptates id velit at consequatur eveniet, officia
        omnis fugit modi nobis, ea accusamus.</p>
    <div footer>
        <span> jskajdljdasldas </span>
    </div>
</ex-card>
